[submodule "random"]
	path = random
	url = https://github.com/chorman0773/random-c.git
[submodule "libconinteract"]
	path = libconinteract
	url = https://github.com/chorman0773/libconinteract.git
[submodule "util"]
	path = util
	url = https://github.com/chorman0773/C-Programming-Utilities.git
